<!DOCTYPE HTML>
<html>
<head>
    <title>Rotctld Web Interface</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">

        var updateSetpoint;
        var updateSetpointFixed;
        var initialRotator;
        var homeRotator;
        var disconnectRotator;
        var connectRotator;
        var timer;

        $(document).ready(function() {
            // Use the 'update_status' namespace for all of our traffic
            namespace = '/update_status';
            timer = 0

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Handle disconnection
            socket.on('disconnect', function() {
            	$('#connection').html("<span class=\"badge rounded-pill bg-danger\">Not Connected</span><button type=\"button\" class=\"btn btn-link\" id=\"halt\" onclick=\"connectRotator()\">Connect</button>");
            });
            
            // Handle a position update.
            socket.on('position_event', function(msg) {
                var _az = msg.azimuth.toFixed(1);
                var _el = msg.elevation.toFixed(1);

                var _text = "<h3>Current Position:  <small>" + _az + ' , ' + _el + "</small></h3>";

                $('#current_position').html(_text);
            });

            // Handle a setpoint update.
            socket.on('setpoint_event', function(msg) {
                var _az = msg.azimuth.toFixed(1);
                var _el = msg.elevation.toFixed(1);

                var _text = "<h3>Setpoint:  <small>" + _az + ' , ' + _el + "</small></h3>";

                $('#setpoint').html(_text);
            });    

            // Handle a connection update.
            socket.on('connection_event', function(msg) {
            	var _text = "<span class=\"badge rounded-pill bg-danger\">Not Connected</span><button type=\"button\" class=\"btn btn-link\" id=\"halt\" onclick=\"connectRotator()\">Connect</button>";
				if (new String(msg).valueOf() == "connected") {
					_text = "<span class=\"badge rounded-pill bg-success\">Connected</span><button type=\"button\" class=\"btn btn-link\" id=\"halt\" onclick=\"disconnectRotator()\">Disconnect</button>";
				}
                $('#connection').html(_text);
            });             
            
            // Button callback functions. Fairly self explanatory.
            updateSetpoint = function updateSetpoint(motor_val, delta_val){
            	if (timer == 0) {
            		timer = 3;
                	socket.emit('update_setpoint', {delta: delta_val, motor: motor_val});
            	}
            };

            updateSetpointFixed = function updateSetpointFixed(motor_val, fixed_val){
            	if (timer == 0) {
            		timer = 3
                	socket.emit('update_setpoint', {fixed: fixed_val, motor: motor_val});
            	}
            };           
            
            connectRotator = function connectRotator(){
                socket.emit('connect_rotator', {});
            }
            
            disconnectRotator = function disconnectRotator(){
                socket.emit('disconnect_rotator', {});
            }
            
            initialRotator = function initialRotator(){
            	if (timer == 0) {
            		timer = 60;
                	socket.emit('initial_rotator', {});
            	}
            }

            homeRotator = function homeRotator(){
            	if (timer == 0) {
            		timer = 60;
                	socket.emit('home_rotator', {});
            	}
            }

            // Tell the server we are connected and ready for data.
            socket.on('connect', function() {
                socket.emit('client_connected', {data: 'I\'m connected!'});
                // This will cause the server to update us with the latest position and setpoint data.
            });

            // Request current rotator position every second. (Too much?)
            window.setInterval(function () {
            	if (timer == 0) {
                	socket.emit('get_position',{});
            	}
            }, 1000); 

            // Request connected
            window.setInterval(function () {
                socket.emit('get_connection',{});
            }, 5000);
            
            window.setInterval(function () {
            	if (timer > 0) {
                	timer--;
                	$('#timer').html("<span class=\"badge rounded-pill bg-danger\">Busy "  + timer + "</span>");
            	} else {
            		$('#timer').html("")
            	}
            }, 1000); 
            
        });
    </script>
</head>
<body>
    <div id="autorx_header" class="m-1"><h2>Rotctld Web GUI</h2></div>
    <div class="container-fluid m-1"> 
        <div class="row">
            <div id="connection" class='col-xs-2 align-self-center'>
            	{% if connected %}
            	<span class="badge rounded-pill bg-success">Connected</span><button type="button" class="btn btn-link" id="halt" onclick="disconnectRotator()">Disconnect</button>
            	
            	{% else %}
                <span class="badge rounded-pill bg-danger">Not Connected</span><button type="button" class="btn btn-link" id="start" onclick="connectRotator()">Connect</button>
                {% endif %}
            </div>
            <div id="timer" class='col-xs-2 align-self-center'></div>
        </div>  
        <div class="row">
            <div class='col-12'>
                <div id="current_position"><h3>Current Pos:</h3></div>
            </div>
        </div>
        <div class="row">
            <div class='col-12'>
                <div id="setpoint"><h3>Setpoint:</h3></div>
            </div>
        </div>
		<br>
        <div class="row">
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_minus30" onclick="updateSetpoint('azimuth', -30)">AZ -30</button>
            </div>
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_plus30" onclick="updateSetpoint('azimuth', 30)">AZ +30</button>
            </div>
        </div>
        <div class="row">
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_30" onclick="updateSetpointFixed('azimuth', 30)">A</button>
            </div>
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_60" onclick="updateSetpointFixed('azimuth', 60)">B</button>
            </div>
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_90" onclick="updateSetpointFixed('azimuth', 90)">C</button>
            </div>
        </div>
        <div class="row">
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_120" onclick="updateSetpointFixed('azimuth', 120)">D</button>
            </div>
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_150" onclick="updateSetpointFixed('azimuth', 150)">E</button>
            </div>
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_180" onclick="updateSetpointFixed('azimuth', 180)">F</button>
            </div>
        </div>
        <div class="row">
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_210" onclick="updateSetpointFixed('azimuth', 210)">G</button>
            </div>
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_240" onclick="updateSetpointFixed('azimuth', 240)">H</button>
            </div>
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_270" onclick="updateSetpointFixed('azimuth', 270)">I</button>
            </div>
        </div>
        <div class="row">
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_300" onclick="updateSetpointFixed('azimuth', 300)">J</button>
            </div>
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_330" onclick="updateSetpointFixed('azimuth', 330)">U</button>
            </div>
            <div class='col-xs-2'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="az_0" onclick="updateSetpointFixed('azimuth', 0)">L</button>
            </div>
        </div> 
        <div class="row">
            <div class='col-xs-6'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="halt" onclick="initialRotator()">Initialise</button>
            </div>
            <div class='col-xs-6'>
                <button type="button" class="btn btn-primary btn-lg m-1" id="el_minus5" onclick="homeRotator()">HOME</button>
            </div>
        </div>
    </div>
</body>
</html>
